{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="addE container">
    <div class="row g-0">
        <div class="p-3">
            <div class = "text-center">
                <h4>Réinitialisation de mot de passe</h1>
            </div>
            <form method="post" class="log my-5">
                {% for message in app.flashes('succes') %}
                <div class="alert alert-success text-center">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('danger') %}
    			<div class="alert alert-danger text-center">{{ message }}</div>
			    {% endfor %}
            <div id="formPersPhy">
                {{ form_start(resetPassword)}}
                    {{ form_row(resetPassword.plainPassword)}}
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(resetPassword)}}
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
