{% extends "base.html.twig" %}

{% block body %}
    <h1 class="titre_new text-center">Ajouter un article</h1>
    
    <div class="articleForm d-flex justify-content-center w-75">
        <div class="w-75">
        {{ form_start(form) }}
            <div>{{form_row(form.titre)}}</div>
            <div>{{form_row(form.auteur)}}</div>
            <div>{{form_row(form.date)}}</div>
            <div>{{form_row(form.description)}}</div>
            <div>{{form_row(form.contenu)}}</div>
             {% if article.image %}
            <div class="form-group ms-1 mb-3">
                <label for="article_image">Image actuelle :</label>
                <img src="{{ asset('upload/' ~ article.image) }}" alt="Miniature" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
            </div>
            {% endif %}
            <div>{{form_row(form.image)}}</div>

        <div class="submit-button text-center" >
        {{ form_end(form) }}
        </div>
        </div>             
    </div> 


{% endblock %}